@import './../../sass/abstracts/variables';

.button {
    height: 5rem;
    width: fit-content;
    padding: 10px 16px;
    &--blue {
        background: $blue-primary;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
    }
}
