.resetPassword {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        // background: red;

        width: 40rem;
        height: 40%;
        &__logo {
            width: 100%;
            display: flex;
            justify-content: center;
            & img {
                width: 90%;
            }
        }
        &__form {
            &__confirmEmail {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                & p {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
